:root {
    --box-background:rgb(221, 218, 218);
    --shadow: 0 1px 5px rgba(54, 47, 47, 0.5);
    --border: 1px solid rgb(73,71,71);

}


html {
      font-family: Arial, Helvetica, sans-serif;
}

body {
    
    margin-left: 10px;
    margin-right: 10px;
    padding:0;  
    background-image: linear-gradient(to bottom right , rgb(54, 53, 53), rgb(241, 241, 81));
    overflow: hidden;

}

.header { 
    margin-top:1rem;
    font-size: 1.2rem;
    border-style: solid red;
    text-align: center;    
    box-shadow: var(--shadow);
    padding: 1rem;
    background-color: rgba(214, 206, 206, 0.5);
    
   

    
 }


.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    
    
}
.schools {
    grid-column: 0/0;
    
}

.career {
    grid-column: 2/2;
}

.becode {
    grid-column:3/3;
}

.hobbies {
    grid-column: 4/4;
}

.box {
    border-style: 0px 3px 0px 0px inset;
    background-color: var(--box-background);
    box-shadow: var(--shadow);
    padding: 10px;
    margin: 1rem;
    margin-bottom: 10px;
    
}

h4 {
    text-align:center;
    text-decoration: underline;
    font-size: 1.5rem;
}

img {
    border-style: hidden;
    border-radius: 50%;
    width:200px;
    height:200px;
    display: block;
    float: left;
}

/* make responsive */

@media only screen and (max-width:768px) {
   body { margin-left: 10px;
    margin-right: 10px;
    padding:0;  
    background-image: radial-gradient (rgb(54, 53, 53), rgb(241, 241, 81));
    overflow: auto;
   }

   .header {
       background-image: url("profile.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       max-width: 100%;
       
      
       
   }

   img {
       display: none;
   }



    .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    }


   
    .schools {
        grid-column:1/1; 
        grid-row: 1/1
    }    

    .career {
        grid-column: 2/2;
        grid-row: 1/1;
    }

    .becode {
        grid-column: 1/1;
        grid-row:2/2;
    }

    .hobbies {
        grid-column: 2/2;
        grid-row: 2/2;
    }

    .header h1 {
        border-style:var(--border);
        background-color: rgba(109, 91, 91,0.8);
        box-shadow: var(--shadow)
    }
}










